<launch>
	  <!-- run UR5 -->
	  <node name="universal_robot_cisst" pkg="universal_robot_ros" type="universal_robot" args="-i 192.168.1.202"/>

  	  <!-- run the teleop node -->
	  <node name="teleop_main" pkg="teleop" type="teleop_main.py" args="marker_control.cfg" output="screen" launch-prefix="xterm -e"/>
	  
	  <!-- run the marker control node -->
	  <node name="marker_control" pkg="teleop_pose_marker" type="marker_control.py" respawn="false" output="screen" launch-prefix="xterm -e"/>
 

	  <!-- run intel realsense camera -->
	  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
	  </include>  
 	  
	  <!-- camera frame calculation -->
	  <node name="camera_tf" pkg="teleop" type="camera_tf.py" args="camera.cfg"/>

	  <!-- run the Rviz with interactive marker -->
  	  <include file="$(find teleop)/launch/ur5_rvis.launch">
  	  </include>

</launch>
