<launch>
  <arg name="cycle_move" default="false" />
  <arg name="state_publisher" default="true" />
   <arg name="rviz" default="true" />
 
  <param name="robot_description" 
	 command="$(find xacro)/xacro --inorder '$(find roamlab_description)/urdf/ur5_indenter_robot.urdf.xacro'" />

  <node if="$(arg state_publisher)" pkg="robot_state_publisher" type="robot_state_publisher" 
  	name="robot_state_publisher" output="screen" />

  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen"
	args="-d $(find teleop)/config/ur5_indenter.rviz"/>

</launch>
