<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur5_indenter" >

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

  <xacro:include filename="$(find roamlab_description)/urdf/indenter.urdf.xacro" />

  <xacro:include filename="$(find roamlab_description)/urdf/permanent_objects.urdf.xacro"/>

  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="true"
    shoulder_pan_lower_limit="-1.57" shoulder_pan_upper_limit="1.57"
    shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="0.52" 
    elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}"
    wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
    wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
    wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
  />

  <xacro:indenter parent="ee_link"/>


  <xacro:permanent_objects />


</robot>